@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
}

div {
  color: darkblue;
}

#b1 {
  color: orange;
  background-color: blue;
}

#b2 {
  color: blue;
  background-color: orange;
}
